{% extends 'base.html' %}
{% load static %}
{% block title %} Instagram {% endblock %}

{% block content %}
    {% include 'partials/_header.html' %}
    <main class='container m-auto mt-3 row'>
        <div class='container main_feed col-sm-8 '>
            {% for post in posts %}
                <div class='card mb-3'>
                    <div class='card-header d-flex justify-content-between align-items-center'>
                        <a class='profile_link' href='{% url "profile" post.user.username %}' style='text-decoration: none'><h5 class='card-title'>@{{ post.user.username }}</h5></a>
                        <!-- <img class='more-btn' width='40' src='{% static "images/more-logo.svg" %}' /> -->
                    </div>
                    <div class='card-body'>
                        <img class='img-fluid mb-2' src='{{ post.image.url }}' />
                        <div class='container d-flex justify-content-between'>
                            <div>
                                <img id='m{{ post.id }}' class='like-btn icon' src='{% static "images/favourite.svg" %}'/>
                                <img id='c{{ post.id }}' class='comment-btn icon'src='{% static "images/comment.svg" %}'  data-bs-toggle="modal" data-bs-target="#cm{{ post.id }}"/>
                            </div>
                            <img id='a{{ post.id }}' class='download-btn icon' src='{% static "images/cloud_download.svg" %}'/>
                        </div>
                        {% if post.no_likes == 0 %}
                            <strong id='b{{ post.id }}'>Post has no likes</strong>
                        {% elif post.no_likes == 1%}
                            <strong id='b{{ post.id }}'>Liked by 1 person </strong>
                        {% else %}
                            <strong id='b{{ post.id }}'>{{ post.no_likes }} likes </strong>
                        {% endif %}
                        <p class='card-text'><a href='{% url "profile" post.user.username %}' style='text-decoration: none'><strong>{{ post.user.username }}</strong></a> {{ post.caption }}</p>
                    </div>
                </div>
                <div class="modal fade" id="cm{{post.id }}" tabindex="-1" aria-labelledby="cm{{post.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id='mb{{post.id}}'>
                           No Comments
                        </div>
                        <form class="modal-footer justify-content-center" id='form{{post.id}}'>
                            {% csrf_token %}
                            <div class='col-9 m-0'><input type='text' class='form-control' id='comment{{post.id}}' name='comment'/></div>
                            <button class='btn btn-primary col-3 m-0' type='submit' id='submitcomment{{post.id}}'>Post</button>
                        </form>
                      </div>
                    </div>
                </div>
                <script>
                    fetch('{% url "is_liked" post.id %}')
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        if (data['liked'] === 'yes'){
                            document.querySelector('img#m{{ post.id }}').src = "{% static 'images/favourite_filled.svg' %}";
                        }
                    });
                    fetch('{% url "is_saved" post.id %}')
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        if (data['liked'] === 'yes'){
                            document.querySelector('img#a{{ post.id }}').src = '{% static "images/cloud_download_filled.svg" %}';
                        }
                    });
                    document.querySelector('img#m{{ post.id }}').addEventListener('click', () => {
                        fetch(`{% url "like" post.id %}`)
                        .then(response => {
                            return response.json();
                        })
                        .then(data => {
                            if (data['action'] === 'liked'){
                                n_likes = data['n_likes']
                                document.querySelector('strong#b{{ post.id }}').innerHTML = n_likes === 0 ? '0 likes' : n_likes === 1 ? 'Liked by 1 person' : n_likes + " likes" ;
                                document.querySelector('img#m{{ post.id }}').src = "{% static 'images/favourite_filled.svg' %}";
                            }
                            else if (data['action'] == 'unliked'){
                                n_likes = data['n_likes']
                                document.querySelector('strong#b{{ post.id }}').innerHTML = n_likes === 0 ? '0 likes' : n_likes === 1 ? 'Liked by 1 person' : n_likes + " likes" ;
                                document.querySelector('img#m{{ post.id }}').src = "{% static 'images/favourite.svg' %}";
                            }
                        })
                    });
                    document.querySelector('img#a{{ post.id }}').addEventListener('click', () => {
                        fetch(`{% url "save" post.id %}`)
                        .then(response => {
                            return response.json();
                        })
                        .then(data => {
                            if (data['action'] === 'saved'){
                                document.querySelector('img#a{{ post.id }}').src = '{% static "images/cloud_download_filled.svg" %}';
                            }
                            else if (data['action'] == 'unsaved'){
                                document.querySelector('img#a{{ post.id }}').src = '{% static "images/cloud_download.svg" %}';
                            }
                        })
                    });
                    document.querySelector('#c{{ post.id }}').addEventListener('click', () => {
                        fetch(`{% url 'comments' post.id %}`)
                        .then(response => response.json())
                        .then(data => {
                            let users = JSON.parse(data['users']);
                            let comments = JSON.parse(data['comments']);
                            for (let i = 0; i < users.length; i++){
                                document.querySelector('#mb{{post.id}}').innerHTML += `
                                    <div class='row' id='shhs${comments[i]['pk']}'>
                                        <p class='col-10'>
                                            <a href="/profile/${users[i]['fields']['username']}" style='text-decoration: none'>@${users[i]['fields']['username']}</a>
                                            ${comments[i]['fields']['comment']}
                                        </p>
                                    </div>
                                `
                            }
                        })
                    });     
                    document.querySelector('#form{{post.id}}').addEventListener('submit', e => {
                        e.preventDefault()
                        fetch(`{% url 'comments' post.id %}`, {
                            'method': 'POST',
                            'headers': {
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            },
                            'body': new FormData(document.querySelector('#form{{post.id}}'))
                        })
                        .then(response => response.json())
                        .then(data => {
                            document.querySelector('#mb{{post.id}}').innerHTML += `
                                    <div class='row'>
                                        <p>
                                            <a href="/profile/${data['user']}" style='text-decoration: none'>@${data['user']}</a>
                                            ${data['comment']}
                                            <em style='color: red'>NEW</em>
                                        </p>
                                    </div>
                                `
                            document.querySelector('#comment{{post.id}}').value = ''
                        })
                    });   
                </script>
            {% endfor %}
        </div>
        <div class='col-4'>
            <div class='card'>
                <div class='card-header d-flex justify-content-between align-items-center'>
                    <h6 class='card-title'>Suggested Users</h6>
                </div>
                <div class='card-body container-fluid'>
                    {% for user in  suggested_users %}
                    <div class='row mb-3'>
                        <a href='{% url "profile" user.user.username %}' class='row col d-flex align-items-center' style='text-decoration: none'>
                        <img class='col' src='{{ user.profile_img.url }}' style='max-width: 60px;'/>
                        <p class='col'>{{ user.user.username }}</p>
                        </a>
                        <button class=' col btn btn-primary' type='button' id='fafs{{user.user.username}}'>Follow</button>
                    </div>
                    <script>
                        document.querySelector('#fafs{{user.user.username}}').addEventListener('click', () => {
                            fetch(`{%url 'follow' user.user.username %}`)
                            .then(response => {
                                return response.json();
                            })
                            .then(data => {
                                if (data['action'] === 'unfollow'){
                                    document.querySelector('#fafs{{user.user.username}}').innerHTML = 'Follow';
                                    document.querySelector('#fafs{{user.user.username}}').className = 'btn btn-primary col';
                                } else if (data['action'] === 'follow'){
                                    document.querySelector('#fafs{{user.user.username}}').innerHTML = 'Unfollow';
                                    document.querySelector('#fafs{{user.user.username}}').className = 'btn btn-outline-primary col';
                                }
                            })
                        })
                    </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
