{% extends 'base.html' %}
{% load static %}
{% block title %} Instagram {% endblock %}

{% block content %}
    {% include 'partials/_header.html' %}
    <main class='container m-auto mt-3 row'>
        <div class='container main_feed col-sm-8 '>
            {% for post in posts reversed %}
                <div class='card mb-3'>
                    <div class='card-header d-flex justify-content-between align-items-center'>
                        <a class='profile_link' href='{% url "profile" post.user.username %}'><h5 class='card-title'>@{{ post.user.username }}</h5></a>
                        <img class='more-btn' width='40' src='{% static "images/more-logo.svg" %}' />
                    </div>
                    <div class='card-body'>
                        <img class='img-fluid mb-2' src='{{ post.image.url }}' />
                        <div class='container d-flex justify-content-between'>
                            <a href='{% url "like" post.id %}'><img class='like-btn icon' src='{% static "images/favourite_filled.svg" %}' /></a>
                            <img class='download-btn icon' src='{% static "images/cloud_download_filled.svg" %}'>
                        </div>
                        {% if post.no_likes == 0 %}
                            <strong>Post has no likes</strong>
                        {% elif post.no_likes == 1%}
                            <strong>Liked by 1 person </strong>
                        {% else %}
                            <strong>{{ post.no_likes }} likes </strong>
                        {% endif %}
                        <p class='card-text'><a href='{% url "profile" post.user.username %}'><strong>{{ post.user.username }}</strong></a> {{ post.caption }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='col-4'>
            <div class='card'>
                <div class='card-header d-flex justify-content-between align-items-center'>
                    <h6 class='card-title'>Suggested Users</h6>
                    <button type="button" class="btn btn-primary">Refresh</button>
                </div>
                <div class='card-body container-fluid'>
                    {% for user in  suggested_users %}
                    <a href='{% url "profile" user.user.username %}'>
                    <div class='row d-flex align-items-center'>
                        <img class='col' src='{{ user.profile_img.url }}' style='max-width: 60px;'/>
                        <p class='col'>{{ user.user.username }}</p>
                        <form class='col' action='follow/' method='POST'>{% csrf_token %}<input type='hidden' value='{{ user.user.username }}' name='user' id='user'/><button class='btn btn-primary' type='submit'>Follow</button></form>
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
