{% extends 'base.html' %}
{% load static %}
{% block title %} {{ user.username }} {% endblock %}

{% block content %}
    {% include 'partials/_header.html' %}
    <main class='container'>
        <div class='row'>
            <h1>{{ user.username }}</h1>
        </div>
        <div class='row'>
            <div class='col-4'>
                <img class='img-thumbnail' src='{{ user_profile.profile_img.url }}' width='150' height='150'/>
            </div>
            <div class='col-8 d-flex flex-column justify-content-center'>
                <div class='d-flex align-items-center justify-content-around'>
                    <div class='d-flex flex-column text-center'>
                        <strong class='profile-info'>{{ num_posts }}</strong>
                        <p class='profile-info'>Posts</p>
                    </div>
                    <div class='d-flex flex-column text-center'>
                        <strong class='profile-info'>{{ follower_count }}</strong>
                        <p class='profile-info'>Followers</p>
                    </div>
                    <div class='d-flex flex-column text-center'>
                        <strong class='profile-info'>{{ following_count }}</strong>
                        <p class='profile-info'>Following</p>
                    </div>
                </div>
                {% if current_user %}
                   <a href='{% url "settings" %}' class='d-grid'><button class="btn btn-primary" type="button">Settings</button></a>
                {% else %}
                    <form action='/follow/' method='POST' class='d-grid'>
                        {% csrf_token %}
                        <input type='hidden' value='{{ user.username }}' name='user' id='user' />
                        <button class='btn btn-primary' type='submit'>{{ button_text }}</button>
                    </form>
                {% endif %}            
            </div>
        </div>
        <div class='row mt-4'>
            <p>{{ user_profile.bio }}</p>
        </div>
        <div class='row row-cols-3'>
            {% for post in posts reversed %}
                <img src='{{ post.image.url }}' width='275' height='300' data-bs-toggle="modal" data-bs-target="#bruh{{post.id}}"/>
                <div class="modal fade" id="bruh{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <a class='profile_link' href='{% url "profile" post.user.username %}' style='text-decoration: none'><h5 class="modal-title" id="exampleModalLabel">@{{post.user.username}}</h5></a>
                            <!-- <img class='more-btn' width='40' src='{% static "images/more-logo.svg" %}' /> -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src='{{ post.image.url }}' class='img-fluid w-100'>
                            <p class='card-text'><a href='{% url "profile" post.user.username %}' style='text-decoration: none'><strong>{{ post.user.username }}</strong></a> {{ post.caption }}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            {% if current_user %}
                                <form action='{% url "delete_post" post.id %}' method='POST'>{% csrf_token %}<button type="submit" class="btn btn-danger">Delete Post</button></form>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}