{% extends 'base.html' %}
{% load static %}
{% block title %} Saved Posts {% endblock %}

{% block content %}
    {% include 'partials/_header.html' %}
    <main class='container'>
        <h1 class='m-4 row'>Saved Posts</h1>
        <div class='row row-cols-3'>
            {% for post in posts reversed %}
                <img src='{{ post.post.image.url }}' width='275' height='300' data-bs-toggle="modal" data-bs-target="#oppie{{post.post.id}}"/>
                <div class="modal fade" id="oppie{{post.post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <a class='profile_link' href='{% url "profile" post.post.user.username %}' style='text-decoration: none'><h5 class="modal-title" id="exampleModalLabel">@{{post.post.user.username}}</h5></a>
                            <!-- <img class='more-btn' width='40' src='{% static "images/more-logo.svg" %}' /> -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src='{{ post.post.image.url }}' class='img-fluid w-100'>
                            <div class='container d-flex justify-content-between'>
                                <div>
                                    <img id='m{{ post.post.id }}' class='like-btn icon' src='{% static "images/favourite.svg" %}'/>
                                    <img id='c{{ post.post.id }}' class='comment-btn icon'src='{% static "images/comment.svg" %}'  data-bs-toggle="modal" data-bs-target="#cm{{ post.post.id }}"/>
                                </div>
                              <img id='a{{ post.post.id }}' class='download-btn icon' src='{% static "images/cloud_download_filled.svg" %}'/>
                          </div>
                          {% if post.post.no_likes == 0 %}
                              <strong id='b{{ post.post.id }}'>Post has no likes</strong>
                          {% elif post.post.no_likes == 1%}
                              <strong id='b{{ post.post.id }}'>Liked by 1 person </strong>
                          {% else %}
                              <strong id='b{{ post.post.id }}'>{{ post.post.no_likes }} likes </strong>
                          {% endif %}
                          <p class='card-text'><a href='{% url "profile" post.user.username %}' style='text-decoration: none'><strong>{{ post.user.username }}</strong></a> {{ post.caption }}</p>
                        </div>
                        <div class="modal-footer">
                          <button type='button' class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            {% if post.post.user.username == username  %}
                                <form action='{% url "delete_post" post.post.id %}' method='POST'>{% csrf_token %}<button type="submit" class="btn btn-danger">Delete Post</button></form>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal fade" id="cm{{post.post.id }}" tabindex="-1" aria-labelledby="cm{{post.post.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                          <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#oppie{{post.post.id}}" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id='mb{{post.post.id}}'>
                            No Comments
                        </div>
                        <form class="modal-footer justify-content-center" id='form{{post.post.id}}'>
                            {% csrf_token %}
                            <div class='col-9 m-0'><input type='text' class='form-control' id='comment{{post.post.id}}' name='comment'/></div>
                            <button class='btn btn-primary col-3 m-0' type='submit' id='submitcomment{{post.post.id}}'>Post</button>
                        </form>
                      </div>
                    </div>
                </div>
                <script>
                  fetch('{% url "is_liked" post.post.id %}')
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        if (data['liked'] === 'yes'){
                            document.querySelector('img#m{{ post.post.id }}').src = "{% static 'images/favourite_filled.svg' %}";
                        }
                    });
                  document.querySelector('img#m{{ post.post.id }}').addEventListener('click', () => {
                      fetch(`{% url "like" post.post.id %}`)
                      .then(response => {
                          return response.json();
                      })
                      .then(data => {
                          if (data['action'] === 'liked'){
                              n_likes = data['n_likes']
                              document.querySelector('strong#b{{ post.post.id }}').innerHTML = n_likes === 0 ? '0 likes' : n_likes === 1 ? 'Liked by 1 person' : n_likes + " likes" ;
                              document.querySelector('img#m{{ post.post.id }}').src = "{% static 'images/favourite_filled.svg' %}";
                          }
                          else if (data['action'] == 'unliked'){
                              n_likes = data['n_likes']
                              document.querySelector('strong#b{{ post.post.id }}').innerHTML = n_likes === 0 ? '0 likes' : n_likes === 1 ? 'Liked by 1 person' : n_likes + " likes" ;
                              document.querySelector('img#m{{ post.post.id }}').src = "{% static 'images/favourite.svg' %}";
                          }
                      })
                  });
                  document.querySelector('img#a{{ post.post.id }}').addEventListener('click', () => {
                      fetch(`{% url "save" post.post.id %}`)
                      .then(response => {
                          return response.json();
                      })
                      .then(data => {
                          if (data['action'] === 'saved'){
                              document.querySelector('img#a{{ post.post.id }}').src = '{% static "images/cloud_download_filled.svg" %}';
                          }
                          else if (data['action'] == 'unsaved'){
                              document.querySelector('img#a{{ post.post.id }}').src = '{% static "images/cloud_download.svg" %}';
                          }
                      })
                  });
                  document.querySelector('#c{{ post.post.id }}').addEventListener('click', () => {
                    fetch(`{% url 'comments' post.post.id %}`)
                    .then(response => response.json())
                    .then(data => {
                        let users = JSON.parse(data['users']);
                        let comments = JSON.parse(data['comments']);
                        document.querySelector('#mb{{post.post.id}}').innerHTML = ''
                        for (let i = 0; i < users.length; i++){
                            document.querySelector('#mb{{post.post.id}}').innerHTML += `
                                <div class='row align-center' id='shhs${comments[i]['pk']}'>
                                    <p class='col-10 align-center'>
                                        <a href="/profile/${users[i]['fields']['username']}" style='text-decoration: none'>@${users[i]['fields']['username']}</a>
                                        ${comments[i]['fields']['comment']}
                                    </p>
                                </div>
                            `
                        }
                    })
                });     
                document.querySelector('#form{{post.post.id}}').addEventListener('submit', e => {
                    e.preventDefault()
                    fetch(`{% url 'comments' post.post.id %}`, {
                        'method': 'POST',
                        'headers': {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                        },
                        'body': new FormData(document.querySelector('#form{{post.post.id}}'))
                    })
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector('#mb{{post.post.id}}').innerHTML += `
                                <div class='row'>
                                    <p>
                                        <a href="/profile/${data['user']}" style='text-decoration: none'>@${data['user']}</a>
                                        ${data['comment']}
                                        <em style='color: red'>NEW</em>
                                    </p>
                                </div>
                            `
                        document.querySelector('#comment{{post.post.id}}').value = ''
                    })
                });                       
              </script>
            {% endfor %}
        </div>
    </main>
{% endblock %}