{% extends 'base.html' %}
{% load static %}
{% block title %} Saved Posts {% endblock %}

{% block content %}
    {% include 'partials/_header.html' %}
    <main class='container'>
        <h1 class='m-4 row'>Saved Posts</h1>
        <div class='row row-cols-3'>
            {% for post in posts reversed %}
                <img src='{{ post.post.image.url }}' width='275' height='300' data-bs-toggle="modal" data-bs-target="#oppie{{post.post.id}}"/>
                <div class="modal fade" id="oppie{{post.post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <a class='profile_link' href='{% url "profile" post.post.user.username %}' style='text-decoration: none'><h5 class="modal-title" id="exampleModalLabel">@{{post.user.username}}</h5></a>
                            <!-- <img class='more-btn' width='40' src='{% static "images/more-logo.svg" %}' /> -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src='{{ post.post.image.url }}' class='img-fluid w-100'>
                            <p class='card-text'><a href='{% url "profile" post.user.username %}' style='text-decoration: none'><strong>{{ post.user.username }}</strong></a> {{ post.caption }}</p>
                        </div>
                        <div class="modal-footer">
                          <form action='{% url "save" post.post.id %}'><button type='submit' class="btn btn-primary">Unsave</button></form
                            {% if post.user.username == username  %}
                                <form action='{% url "delete_post" post.post.id %}' method='POST'>{% csrf_token %}<button type="submit" class="btn btn-danger">Delete Post</button></form>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}