asgiref==3.7.2
beautifulsoup4==4.12.2
boto3==1.28.8
botocore==1.31.8
Django==4.2.3
django-bootstrap-v5==1.0.11
django-environ==0.10.0
django-storages==1.13.2
environ==1.0
jmespath==1.0.1
mysqlclient==2.2.0
Pillow==10.0.0
python-dateutil==2.8.2
s3transfer==0.6.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
urllib3==1.26.16
